<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/header_footer.css">
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="/css/style_user.css">
</head>

<body>
<div id="header-user"></div>

<script>
    fetch('/html/user_header.html')
        .then(response => response.text())
        .then(data => {
            document.getElementById('header-user').innerHTML = data;
        })
        .catch(error => console.error('Header 로드 중 오류 발생:', error));
</script>


    <!-- main -->
    <div class="main-container">
        <section class="signup_container">
            <h2>회원가입</h2>
            <div class="signup_id_pwd">
                <!-- 일반회원 회원가입 버튼 -->
                <button class="signup_btn">
                    <a th:href="@{/signup/user}">일반회원 회원가입</a>
                </button>

                <!-- 사업자 회원가입 버튼 -->
                <button class="signup_btn">
                    <a th:href="@{/signup/business}">사업자 회원가입</a>
                </button>
            </div>
        </section>
    </div>

    <!-- footer -->
    <footer>
        <div class="footer-container">
            <p>Copyright 2025 맛zip All Right Reserved</p>
            <ul class="footer-menu">
                <li><a href="#">공지사항</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Q&A</a></li>
            </ul>
        </div>
    </footer>

</body>
</html>