<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>신고된 리뷰 상세페이지</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style_admin.css">
  <link rel="stylesheet" href="/css/header_footer.css">
</head>
<body>
<div th:replace="~{html/admin_header :: adminHeader}"></div>

<main>
  <section class="body-section">
    <div class="navi">
      <div class="redbutton">
        <span class="redbutton-font">마이페이지</span>
      </div>
      <ul>
        <li><a href="/admin/restaurants/apply-list" class="navi-font">식당 등록 신청 조회</a></li>
        <li><a href="" class="navi-font">식당 정보 수정 요청 조회</a></li>
        <li><a th:href="@{/admin/admin_revreportlist}" class="navi-font">신고 리뷰 조회</a></li>
        <li><a th:href="@{/admin/reportedUsers}" class="navi-font">신고된 유저 계정 조회</a>
        <li><a th:href="@{/board/notice/list}" class="navi-font">공지사항</a></li>
        <li><a th:href="@{/board/faq/list}" class="navi-font">FAQ(자주 묻는 질문)</a></li>
        <li><a href="/admin/board/qna" class="navi-font">문의사항</a></li>
        <li><a href="" class="navi-font">식당 목록 조회</a></li>
      </ul>
    </div>
  <div class="container-section">
    <div class="container">
    <div class="container-title">
      <!-- 처리 상태에 따른 버튼 텍스트 표시 -->
      <button class="redbutton4" th:if="${review.hiddenFlag == 0}">처리되지 않음</button>
      <button class="redbutton4" th:if="${review.hiddenFlag == 1}">처리됨</button>
      <span class="container-font1">리뷰 번호: <span th:text="${review.reviewCode}"></span></span>
    </div>
    <div class="line-yellow"></div>
    <table class="table-class">
      <tr>
        <td>작성자: <span th:text="${review.userId}"></span></td>
      </tr>
      <tr>
        <td>
          작성된 식당:
          <a class="redbutton4" th:href="@{/restaurant/{id}(id=${review.restaurantCode})}" target="_blank">
            식당바로가기
          </a>
        </td>
      </tr>
      <tr>
        <td>신고된 횟수: <span th:text="${review.reportCount}"></span></td>
      </tr>
      <tr>
        <td>
          리뷰 내용<br>
          <span th:text="${review.reviewContent}"></span>
        </td>
      </tr>
    </table>
    <div>
      <!-- 리뷰 상태 토글 폼 -->
      <form th:action="@{/admin/updateReviewStatus}" method="post">
        <input type="hidden" name="reviewCode" th:value="${review.reviewCode}" />
        <button type="submit" class="redbutton4"
                th:text="${review.hiddenFlag == 0 ? '숨김' : '숨김 해제'}"></button>
      </form>
      <!-- 뒤로가기 버튼 -->
      <button class="redbutton4" onclick="window.location.href='/admin/admin_revreportlist'">뒤로가기</button>
    </div>
  </div>
  </div>
  </section>
</main>
<footer>
  <p class="footer-font">Copyright 2025 맛zip All Right Reserved</p>
</footer>
</body>
</html>
