<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자 수정요청목록페이지</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style_admin.css">
</head>
<body>
    <header>
        <section class="admin-header">
            <a href="">
                <img class="logo" src="/img/logo.png">
            </a>
            <div class="admin-header-container">
                <div class="admin-header-textdiv">
                    <p class="admin-header-font1"> 어쩌구저쩌구 </p>
                    <div class="line-yellow"></div>
                    <p class="admin-header-font2"> 어쩌구저쩌구</p>
                </div>
            </div>
            <div class="logout">
                <p class="navi-font">관리자님, 환영합니다. 😊</p>
                <a href="">
                    <button class="redbutton3 redbutton-font">
                        로그아웃
                    </button>
                </a>
            </div>
        </section>
    </header>

    <main>
        <section class="body-section">
            <div class="navi">
                <div class="redbutton">
                    <span class="redbutton-font">마이페이지</span>
                </div>
                <ul>
                    <li><a href="" class="navi-font">식당 등록 신청 조회</a></li>
                    <li><a href="" class="navi-font">식당 정보 수정 요청 조회</a></li>
                    <li><a href="" class="navi-font">신고 리뷰 조회</a></li>
                    <li><a href="" class="navi-font">신고된 유저 계정 조회</a></li>
                    <li><a href="" class="navi-font">공지사항</a></li>
                    <li><a href="" class="navi-font">FAQ(자주 묻는 질문)</a></li>
                    <li><a href="" class="navi-font">문의사항</a></li>
                    <li><a href="" class="navi-font">식당 목록 조회</a></li>
                </ul>
            </div>
            <div class="container-section">
                <div class="container-search">
                    <div class="container-search2 navi-font">
                        <label id="latest" name="latest">
                            <input class="custom-input" type="checkbox" id="latest" name="latest">
                            신청일 순으로 정렬
                        </label>
                        <label id="latest" name="latest">
                            <input class="custom-input" type="checkbox" id="name" name="name">
                            식당명 순으로 정렬
                        </label>

                    </div>
                    <div class="container-search3">
                        <input class="admin-input-long navi-font" type="text" id="keyword" name="keyword" placeholder="식당명 및 키워드 검색">
                        <button class="redbutton redbutton-font">검색</button>
                    </div>

                </div>
                <div class="container-storelist">
                    <div class="container-title">
                        <span class="container-font1">수정 요청 식당 10개</span>
                        <p class="container-font2 ">신청 번호</p>
                    </div>
                    <div class="line-yellow"></div>
                    <table class="table-class">
                        <tr>
                            <td style="width:1vh;"><button class="redbutton4">수락</button><button class="redbutton4">반려</button></td>
                            <td style="text-align: left;">투썸플레이스 종각역점<br>
                                신청일 : 2025. 03. 04. 12:22<br>
                                수정일 : 2025. 03. 05. 15:32<br>
                            </td>
                            <td style="text-align: center;">1234-1234</td>
                        </tr>
                        <tr>
                            <td style="width:1vh;"><button class="redbutton4">수락</button><button class="redbutton4">반려</button></td>
                            <td style="text-align: left;">투썸플레이스 종각역점<br>
                                신청일 : 2025. 03. 04. 12:22<br>
                                수정일 : 2025. 03. 05. 15:32<br>
                            </td>
                            <td style="text-align: center;">1234-1234</td>
                        </tr>
                        <tr>
                            <td style="width:1vh;"><button class="redbutton4">수락</button><button class="redbutton4">반려</button></td>
                            <td style="text-align: left;">투썸플레이스 종각역점<br>
                                신청일 : 2025. 03. 04. 12:22<br>
                                수정일 : 2025. 03. 05. 15:32<br>
                            </td>
                            <td style="text-align: center;">1234-1234</td>
                        </tr>                        
                        <tr>
                            <td style="width:1vh;"><button class="redbutton4">수락</button><button class="redbutton4">반려</button></td>
                            <td style="text-align: left;">투썸플레이스 종각역점<br>
                                신청일 : 2025. 03. 04. 12:22<br>
                                수정일 : 2025. 03. 05. 15:32<br>
                            </td>
                            <td style="text-align: center;">1234-1234</td>
                        </tr>                        
                        <tr>
                            <td style="width:1vh;"><button class="redbutton4">수락</button><button class="redbutton4">반려</button></td>
                            <td style="text-align: left;">투썸플레이스 종각역점<br>
                                신청일 : 2025. 03. 04. 12:22<br>
                                수정일 : 2025. 03. 05. 15:32<br>
                            </td>
                            <td style="text-align: center;">1234-1234</td>
                        </tr>                        
                        <tr>
                            <td style="width:1vh;"><button class="redbutton4">수락</button><button class="redbutton4">반려</button></td>
                            <td style="text-align: left;">투썸플레이스 종각역점<br>
                                신청일 : 2025. 03. 04. 12:22<br>
                                수정일 : 2025. 03. 05. 15:32<br>
                            </td>
                            <td style="text-align: center;">1234-1234</td>
                        </tr>
                    </table>
                </div>

                </div>
            </div>
        </div>
    </section>
    </main>

    <footer>
        <p class="footer-font">Copyright 2025 맛zip All Right Reserved</p>
        <!-- <ul>
            <li class="footer-font"><a href="">공지사항</a></li>
            <li class="footer-font"><a href="">FAQ</a></li>
            <li class="footer-font"><a href="">Q&A</a></li>
        </ul> -->
    </footer>

</body>
</html>