<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>리뷰 작성</title>
</head>
<body>
<table>
    <tr th:each="reservation : ${reservation}">
        <td th:text="${reservation.reservationCode}"></td>
        <td th:text="${reservation.restaurantName}"></td>
        <td th:text="${reservation.userCode}"></td>
        <td>
            <form action="/review/save" method="post" enctype="multipart/form-data">
                <input type="hidden" name="userCode" th:value="${reservation.userCode}">
                <input type="hidden" name="restaurantCode" th:value="${reservation.restaurantCode}">
                <input type="hidden" name="reservationCode" th:value="${reservation.reservationCode}">

                <label>리뷰 내용:</label>
                <input type="text" name="reviewContent" placeholder="리뷰를 입력하세요" required>

                <label>별점:</label>
                <input type="number" name="rating" min="1" max="5" required>

                <div>
                    <input type="file" name="multiFiles" class="fileInput" multiple accept="image/*">
                </div>

                 <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
                <input type="submit">리뷰 작성
            </form>
        </td>
    </tr>
</table>
</body>
</html>
