<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">
    <link href="/css/style_user.css" rel="stylesheet">
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=fd7786d297e2d4aaab4aa8b6bbb06b88&libraries=services" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/myLocation.js"></script>
    <script src="/js/weather.js"></script>
</head>
<body id="weatherBody">
<!-- 외부 헤더 로드 -->
<div id="header-user"></div>
<script>
    fetch('/html/user_header.html')
        .then(response => response.text())
        .then(data => {
            document.getElementById('header-user').innerHTML = data;
        })
        .catch(error => console.error('Header 로드 중 오류 발생:', error));
</script>

<!-- 메인 콘텐츠 -->
<section class="body-section">
    <div class="container-main">
        <p>#더운날 #여름 #시원한🍧</p>
        <div class="line-yellow-100"></div>
        <div class="food-list">
            <form action="/weather/Clear">
                <input type="hidden" th:if="${_csrf != null}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <div class="food-item" th:each="recommend: ${recommendKeywords}">
                    <img th:src="${recommend.getKeywordImgPath()}">
                    <p th:text="${recommend.keyword}"></p>
                </div>
            </form>
        </div>
    </div>

    <section class="container-main">
        <p>#중국인에게추천 #보리밥 #해물탕 #감자탕</p>
        <div class="line-yellow-100"></div>
        <div class="food-list">
            <!-- 추가 내용 -->
        </div>
    </section>
</section>

<!-- 푸터 -->
<footer>
    <div class="footer-container">
        <p>Copyright 2025 맛zip All Right Reserved</p>
        <ul class="footer-menu">
            <li><a th:href="@{/board/notice/list}">공지사항</a></li>
            <li><a th:href="@{/board/faq/list}">FAQ</a></li>
            <li><a href="#">Q&A</a></li>
        </ul>
    </div>
</footer>
</body>
</html>

