<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>사업자 식당수정</title>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">
    <link href="/css/style_store.css" rel="stylesheet">
    <link href="/css/style_restaurantInfo.css" rel="stylesheet">
    <link href="/css/header_footer.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">

</head>

<body>

<!-- header -->
<div th:replace="~{html/store_header :: storeHeader}"></div>

<!-- main -->
<main>
    <section class="body-section">
        <div class="navi">
            <div class="redbutton">
                <span class="redbutton-font">마이페이지</span>
            </div>
            <ul>
                <li><a class="navi-font" th:href="@{/business/myinfo}">내 정보</a></li>
                <li th:if="${myRestaurantCode != null}"><a class="navi-font" th:href="@{/business/restaurant/{restaurantCode}(restaurantCode=${myRestaurantCode})}">내 식당 정보</a></li>
                <li th:if="${myRestaurantCode == null}"><a class="navi-font" th:href="@{/business/regist}">식당 등록 신청</a></li>
                <li th:if="${myRestaurantCode != null}"><a class="navi-font" href="">예약 현황 조회</a></li>
                <li th:if="${myRestaurantCode != null}"><a class="navi-font" th:href="@{/business/modify}">식당 정보 수정 요청</a></li>
                <li th:if="${myRestaurantCode != null}"><a class="navi-font" th:href="@{/business/answer}">고객 리뷰 조회</a></li>
            </ul>
        </div>

        <div class="store-info">
            <form enctype="multipart/form-data" method="post" th:action="@{/business/modify}">
                <div>
                    <input accept="image/*" hidden id="real-file" multiple name="multiFiles" required type="file">
                    <button class="redbutton1 redbutton-font" id="custom-button" type="button">이미지 추가</button>
                    <span id="file-name">선택된 파일 없음</span>
                </div>
                <div class="store-container">
                    <div class="upper-container">
                        <div class="store-inner-container1">
                            <table>
                                <tr>
                                    <td style="font-size:2vh;">가게명</td>
                                    <td>
                                        <input class="store-input-middle" id="restaurantName" name="restaurantName"
                                               placeholder="가게명"
                                               required th:value="${currentRestaurant.restaurantName}"
                                               type="text">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size:2vh;">주소</td>
                                    <td><input class="store-input-long" id="restaurantLocation"
                                               name="restaurantLocation"
                                               placeholder="주소를 입력하세요"
                                               required th:value="${currentRestaurant.restaurantLocation}" type="text">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size:2vh;">전화번호</td>
                                    <td style="font-size:1.5vh;"><input class="store-input-middle"
                                                                        id="restaurantContactNumber"
                                                                        name="restaurantContactNumber"
                                                                        placeholder="전화번호" required
                                                                        th:value="${currentRestaurant.restaurantContactNumber}"
                                                                        type="text">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size:2vh;">키워드</td>
                                    <td style="font-size:1.5vh;">
                                        <input class="store-input-small2" id="restaurantKeyword1"
                                               name="restaurantKeyword"
                                               placeholder="키워드1" required
                                               th:value="${currentRestaurant.restaurantKeywords.get(0).getRestaurantKeyword()}"
                                               type="text">
                                        <input class="store-input-small2" id="restaurantKeyword2"
                                               name="restaurantKeyword"
                                               placeholder="키워드2"
                                               th:value="${currentRestaurant.restaurantKeywords.get(1).getRestaurantKeyword()}"
                                               type="text">
                                        <input class="store-input-small2" id="restaurantKeyword3"
                                               name="restaurantKeyword"
                                               placeholder="키워드3"
                                               th:value="${currentRestaurant.restaurantKeywords.get(2).getRestaurantKeyword()}"
                                               type="text">
                                        <input class="store-input-small2" id="restaurantKeyword4"
                                               name="restaurantKeyword"
                                               placeholder="키워드4"
                                               th:value="${currentRestaurant.restaurantKeywords.get(3).getRestaurantKeyword()}"
                                               type="text">
                                        <input class="store-input-small2" id="restaurantKeyword5"
                                               name="restaurantKeyword"
                                               placeholder="키워드5"
                                               th:value="${currentRestaurant.restaurantKeywords.get(4).getRestaurantKeyword()}"
                                               type="text">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size:2vh;">영업시간</td>
                                    <td style="font-size:1.5vh;">
                                        <input name="restaurantStartTime" required
                                               th:value="${currentRestaurant.getRestaurantStartTime()}"
                                               type="time">
                                        -
                                        <input name="restaurantEndTime" required
                                               th:value="${currentRestaurant.getRestaurantEndTime()}"
                                               type="time">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size:2vh;">카테고리</td>
                                    <td><select class="store-input-small2" id="restaurantCategory"
                                                name="restaurantCategory"
                                                required
                                                th:value="${currentRestaurant.getCategoryCode().getCategoryCode()}">
                                        <option value="1">한식</option>
                                        <option value="2">중식</option>
                                        <option value="3">일식</option>
                                        <option value="4">양식</option>
                                        <option value="5">비건</option>
                                    </select>
                                    </td>
                                </tr>

                            </table>
                            <br>
                            <p style="font-size:2.5vh;">메뉴
                                <button onclick="addMenu()">추가</button>
                                <button onclick="deleteMenu()">삭제</button>
                            </p>
                            <table id="menu">
                                <tr th:each="메뉴, status : ${currentRestaurant.getRestaurantMenus()}">
                                    <td><input name="mainMenu" required th:id="'메뉴' + ${status.count}"
                                               th:value="${메뉴.getMenuName()}" type="radio"></td>
                                    <td><input class="store-input-small" name="menuName"
                                               placeholder="메뉴명"
                                               required th:id="'menuName' + ${status.count}"
                                               th:value="${메뉴.getMenuName()}"
                                               type="text"></td>
                                    <td>-------</td>
                                    <td><input class="store-input-small" name="menuPrice"
                                               placeholder="가격"
                                               required th:id="'menuPrice' + ${status.count}"
                                               th:value="${메뉴.getMenuPrice()}"
                                               type="text">원
                                    </td>
                                </tr>
                            </table>
                            <br>
                            <a href="">
                                <button class="redbutton1">메뉴판 이미지</button>
                            </a>
                            <br>
                            <br>
                            <br>
                            <p style="font-size:2.5vh;">편의시설 및 서비스</p>
                            <p style="font-size:1.5vh;">
                                <input class="store-input-long" id="restaurantService"
                                       name="restaurantService"
                                       placeholder="주차, 와이파이, 노키즈존 등의 여부를 입력하세요"
                                       required th:value="${currentRestaurant.getRestaurantService()}"
                                       type="text">

                            </p>
                        </div>
                        <div class="store-inner-container2">
                            <div class="introducebox2">
                                <p style="font-size:2.5vh;">소개</p>
                                <textarea class="store-input-large" id="restaurantDescription"
                                          name="restaurantDescription"
                                          required th:value="${currentRestaurant.getRestaurantDescription()}"
                                          type="textarea">
                                </textarea>
                            </div>
                            <div class="buttonbox2">
                                <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
                                <a href=""><input class="redbutton1 button" type="submit" value="수정요청"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>

<!-- footer -->
<div th:replace="~{html/user_footer :: userFooter}"></div>
<script src="/js/storeedit.js"></script>

</body>

</html>