<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>사업자 메인</title>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">
    <link href="/css/header_footer.css" rel="stylesheet">
    <link href="/css/style_store.css" rel="stylesheet">

<body>
<header>
    <div th:replace="~{html/store_header :: storeHeader}"></div>
</header>

<main>
    <section class="body-section">
        <div class="navi">
            <div class="redbutton">
                <span class="redbutton-font">마이페이지</span>
            </div>
            <ul>
                <li><a class="navi-font" th:href="@{/business/myinfo}">내 정보</a></li>
                <li th:if="${myRestaurantCode != null}"><a class="navi-font" th:href="@{/business/restaurant/{restaurantCode}(restaurantCode=${myRestaurantCode})}">내 식당 정보</a></li>
                <li th:if="${myRestaurantCode == null}"><a class="navi-font" th:href="@{/business/regist}">식당 등록 신청</a></li>
                <li th:if="${myRestaurantCode != null}"><a class="navi-font" href="">예약 현황 조회</a></li>
                <li th:if="${myRestaurantCode != null}"><a class="navi-font" th:href="@{/business/modify}">식당 정보 수정 요청</a></li>
                <li th:if="${myRestaurantCode != null}"><a class="navi-font" th:href="@{/business/answer}">고객 리뷰 조회</a></li>
            </ul>
        </div>

        <div class="container-section">
            <div class="container">
                <div class="container-title">
                    <span class="container-font1">예약 현황 조회</span>
                    <a href="">
                        <button class="redbutton2">+</button>
                    </a>
                </div>
                <div class="line-yellow"></div>
                <table class="table-class">
                    <tr>
                        <th class="navi-font">번호</th>
                        <th class="navi-font">날짜</th>
                        <th class="navi-font">시간</th>
                        <th class="navi-font">인원 수</th>
                    </tr>
                    <tr class="navi-font">
                        <td>1</td>
                        <td>2025. 03. 08</td>
                        <td>17:00</td>
                        <td>성인 2명</td>
                    </tr>
                    <tr class="navi-font">
                        <td>1</td>
                        <td>2025. 03. 08</td>
                        <td>17:00</td>
                        <td>성인 2명</td>
                    </tr>
                    <tr class="navi-font">
                        <td>1</td>
                        <td>2025. 03. 08</td>
                        <td>17:00</td>
                        <td>성인 2명</td>
                    </tr>
                    <tr class="navi-font">
                        <td>1</td>
                        <td>2025. 03. 08</td>
                        <td>17:00</td>
                        <td>성인 2명</td>
                    </tr>
                    <tr class="navi-font">
                        <td>1</td>
                        <td>2025. 03. 08</td>
                        <td>17:00</td>
                        <td>성인 2명</td>
                    </tr>
                </table>
            </div>
            <div class="container">
                <div class="container-title">
                    <span class="container-font1">고객 리뷰 조회</span>
                    <a th:href="@{/business/answer}">
                        <button class="redbutton2 redbutton-font">+</button>
                    </a>
                </div>
                <div class="line-yellow"></div>
                <div class="table-class">
                    <table class="table-class">
                        <tr>
                            <th class="navi-font">번호</th>
                            <th class="navi-font">날짜</th>
                            <th class="navi-font">내용</th>
                        </tr>
                        <!--                            stat : 현재 몇 번째 반복 중인지 제공, stat.count는 1번부터 시작 -->
                        <tr class="navi-font" th:each="review, stat : ${recentReviews}">
                            <td th:text="${stat.count}"></td>
                            <td th:text="${#dates.format(review.reviewDate, 'yyyy-MM-dd')}"></td>
                            <td th:text="${#strings.abbreviate(review.reviewContent, 30)}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
</main>

<footer>
    <div th:replace="~{html/user_footer :: userFooter}"></div>
</footer>

</body>
</html>