<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FAQ</title>
</head>
<body>
<div class="faq-list-container">
    <table class="faq-table">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="faq, i : ${faqList}">
            <td th:text="${i.index + 1}">1</td>
            <td>
                <a th:href="@{|/board/faq/${faq.id}|}" th:text="${faq.title}">제목</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>