<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자 식당정보조회</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style_admin.css">
</head>
<body>
    <header>
        <section class="admin-header">
            <a href="">
                <img class="logo" src="/img/logo.png">
            </a>
            <div class="admin-header-container">
                <div class="admin-header-textdiv">
                    <p class="admin-header-font1"> 어쩌구저쩌구 </p>
                    <div class="line-yellow"></div>
                    <p class="admin-header-font2"> 어쩌구저쩌구</p>
                </div>
            </div>
            <div class="logout">
                <p class="navi-font">관리자님, 환영합니다. 😊</p>
                <a href="">
                    <button class="redbutton3 redbutton-font">
                        로그아웃
                    </button>
                </a>
            </div>
        </section>
    </header>

    <main>
        <section class="body-section">
            <div class="navi">
                <div class="redbutton">
                    <span class="redbutton-font">마이페이지</span>
                </div>
                <ul>
                    <li><a href="" class="navi-font">식당 등록 신청 조회</a></li>
                    <li><a href="" class="navi-font">식당 정보 수정 요청 조회</a></li>
                    <li><a href="" class="navi-font">신고 리뷰 조회</a></li>
                    <li><a href="" class="navi-font">신고된 유저 계정 조회</a></li>
                    <li><a href="" class="navi-font">공지사항</a></li>
                    <li><a href="" class="navi-font">FAQ(자주 묻는 질문)</a></li>
                    <li><a href="" class="navi-font">문의사항</a></li>
                    <li><a href="" class="navi-font">식당 목록 조회</a></li>
                </ul>
            </div>
            <div class="store-info">
                <div class="store-imgs">
                <!-- 여기에 이미지 넣기 -->
                </div>
                <div class="store-container">
                    <div class="upper-container">
                        <div class="store-inner-container1">
                        <p style="font-size:2.5vh;">온량</p>
                        <span style="font-size:1.5vh; color:#747474;">서울숲 | 파스타, 돈마호크</span>
                        <i class="fa fa-star" style="color:red;"></i> <!-- 꽉 찬 별 -->
                        <i class="fa fa-star" style="color:red;"></i> <!-- 꽉 찬 별 -->
                        <i class="fa fa-star" style="color:red;"></i> <!-- 꽉 찬 별 -->
                        <i class="fa fa-star" style="color:red;"></i> <!-- 꽉 찬 별 -->
                        <i class="fa fa-star-half-alt" style="color:red;"></i> <!-- 반쪽 별 -->
                        <br>
                        <table>
                            <tr>
                                <td style="font-size:2vh;">주소</td>
                                <td style="font-size:1.5vh;">서울시 종로구 우정국로 2길 37 4층</td>
                            </tr>
                            <tr>
                                <td style="font-size:2vh;">전화번호</td>
                                <td style="font-size:1.5vh;">02-000-0000</td>
                            </tr>
                            <tr>
                                <td style="font-size:2vh;">키워드</td>
                                <td style="font-size:1.5vh;">#양식 #파스타 #서울숲맛집</td>
                            </tr>
                            <tr>
                                <td style="font-size:2vh;">영업시간</td>
                                <td style="font-size:1.5vh;">11:00 - 21:00</td>
                            </tr>
                        </table>
                        <br>
                        <p style="font-size:2.5vh;">메뉴</p>
                        <table>
                            <tr>
                                <td>토마호크 포크 커틀렛</td>
                                <td>---------- </td>
                                <td>32,000원</td>
                            </tr>
                            <tr>
                                <td>스파이시 로제 파스타</td>
                                <td>---------- </td>
                                <td>18,000원</td>
                            </tr>
                            <tr>
                                <td>콰트로 크림 리소토</td>
                                <td>---------- </td>
                                <td> 19,000원</td>
                            </tr>
                            <tr>
                                <td>만조 크림 파스타</td>
                                <td>---------- </td>
                                <td>19,000원</td>
                            </tr>
                        </table>
                        <br>
                        <a href=""><button class="redbutton1">메뉴판 이미지</button></a>
                        <br>
                        <br>
                        <br>
                        <p style="font-size:2.5vh;">편의시설 및 서비스</p> <br>
                        <p style="font-size:1.5vh;">와이파이 있음, 주차 가능</p>
                        </div>
                        <div class="store-inner-container2">
                            <div>
                                지도지도
                            </div>
                            <div class="introducebox">
                                <p style="font-size:2.5vh;">소개</p>
                                <pre style="font-size:2vh;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores alias ut minima repellat harum quasi, consequatur facere officiis aliquid ducimus inventore non voluptas placeat? Animi quod earum accusamus eveniet dolorum.</pre>
                            </div>
                        </div>
                    </div>
                    <div class="store-inner-container3">
                        <p style="font-size:2.5vh;">리뷰</p>
                        <div class="reviewbox">
                            <span style="font-size:1.5vh;">홍성경님의 리뷰 2025.03.08 12:10</span>
                            <i class="fa fa-star" style="color:red;"></i> <!-- 꽉 찬 별 -->
                            <i class="fa fa-star" style="color:red;"></i> <!-- 꽉 찬 별 -->
                            <i class="fa fa-star" style="color:red;"></i> <!-- 꽉 찬 별 -->
                            <i class="fa fa-star" style="color:red;"></i> <!-- 꽉 찬 별 -->
                            <i class="fa fa-star" style="color:red;"></i> <!-- 꽉 찬 별 -->
                            <br>
                            <span style="font-size:1.5vh;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione itaque expedita quasi nisi iste harum reprehenderit, recusandae rem temporibus consequuntur officia voluptatibus provident neque, necessitatibus mollitia. Possimus temporibus iste veniam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus at quidem tempore beatae libero veritatis sunt autem accusantium, perspiciatis corrupti alias eius numquam nobis</span>
                            <div class="reviewimgbox">
                                <img class="reviewimg" src="/img/example.png">
                                <img class="reviewimg" src="/img/example.png">
                                <img class="reviewimg" src="/img/example.png">
                            </div>
                            <div class="reviewreply">
                                <span style="font-size:1.5vh;">온량의 답글 2025.03.08</span>
                                <br>
                                <span style="font-size:1.5vh;">ipsum dolor sit amet consectetur adipisicing elit. Doloribus at quidem tempore beatae libero veritatis sunt autem accusantium, perspiciatis corrupti alias eius numquam nobis</span>

                            </div>            
                        </div>
                        <div class="reviewbox">
                            <span style="font-size:1.5vh;">홍성경님의 리뷰 2025.03.08 12:10</span>
                            <i class="fa fa-star" style="color:red;"></i> <!-- 꽉 찬 별 -->
                            <i class="fa fa-star" style="color:red;"></i> <!-- 꽉 찬 별 -->
                            <i class="fa fa-star" style="color:red;"></i> <!-- 꽉 찬 별 -->
                            <i class="fa fa-star" style="color:red;"></i> <!-- 꽉 찬 별 -->
                            <i class="fa fa-star" style="color:red;"></i> <!-- 꽉 찬 별 -->
                            <br>
                            <span style="font-size:1.5vh;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione itaque expedita quasi nisi iste harum reprehenderit, recusandae rem temporibus consequuntur officia voluptatibus provident neque, necessitatibus mollitia. Possimus temporibus iste veniam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus at quidem tempore beatae libero veritatis sunt autem accusantium, perspiciatis corrupti alias eius numquam nobis</span>
                            <div class="reviewimgbox">
                                <img class="reviewimg" src="/img/example.png">
                                <img class="reviewimg" src="/img/example.png">
                                <img class="reviewimg" src="/img/example.png">
                            </div>
                            <div class="reviewreply">
                                <span style="font-size:1.5vh;">온량의 답글 2025.03.08</span>
                                <br>
                                <span style="font-size:1.5vh;">ipsum dolor sit amet consectetur adipisicing elit. Doloribus at quidem tempore beatae libero veritatis sunt autem accusantium, perspiciatis corrupti alias eius numquam nobis</span>

                            </div>            
                        </div>
                        <div class="reviewbox">
                            <span style="font-size:1.5vh;">홍성경님의 리뷰 2025.03.08 12:10</span>
                            <i class="fa fa-star" style="color:red;"></i> <!-- 꽉 찬 별 -->
                            <i class="fa fa-star" style="color:red;"></i> <!-- 꽉 찬 별 -->
                            <i class="fa fa-star" style="color:red;"></i> <!-- 꽉 찬 별 -->
                            <i class="fa fa-star" style="color:red;"></i> <!-- 꽉 찬 별 -->
                            <i class="fa fa-star" style="color:red;"></i> <!-- 꽉 찬 별 -->
                            <br>
                            <span style="font-size:1.5vh;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione itaque expedita quasi nisi iste harum reprehenderit, recusandae rem temporibus consequuntur officia voluptatibus provident neque, necessitatibus mollitia. Possimus temporibus iste veniam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus at quidem tempore beatae libero veritatis sunt autem accusantium, perspiciatis corrupti alias eius numquam nobis</span>
                            <div class="reviewimgbox">
                                <img class="reviewimg" src="/img/example.png">
                                <img class="reviewimg" src="/img/example.png">
                                <img class="reviewimg" src="/img/example.png">
                            </div>
                            <div class="reviewreply">
                                <span style="font-size:1.5vh;">온량의 답글 2025.03.08</span>
                                <br>
                                <span style="font-size:1.5vh;">ipsum dolor sit amet consectetur adipisicing elit. Doloribus at quidem tempore beatae libero veritatis sunt autem accusantium, perspiciatis corrupti alias eius numquam nobis</span>

                            </div>            
                        </div>
                    </div>
                </div>
        </section>    
    </main>

    <footer>
        <p class="footer-font">Copyright 2025 맛zip All Right Reserved</p>
    </footer>

</body>
</html>