<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Q&A작성페이지</title>
</head>
<body>
<h2>Q&A작성페이지</h2>
<form action="/board/qna/write" method="post">
    <label>제목</label><br>
    <input type="text" name="title" required><br><br>

    <label>내용</label><br>
    <textarea name="content" rows="6" cols="60" required></textarea><br><br>

    <label>작성자</label><br>
    <input type="text" name="writer" required><br><br>

    <button type="submit">질문 등록</button>
</form>

</body>
</html>