.password_search{
    /* display: flex; */
    width: 85vh;
    height: 55vh;
    background-color: white;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    display: flex;
    flex-direction: column; /* 기본적으로 세로로 배치 */
    padding: 20px;
    align-items: center;
}

.password_id_pwd{
    padding-top: 10vh;
}

.password_id_pwd input{
    display: block;
    width: 25vh;
    height: 4vh;
    border-radius: 1vh;
    border: 1px solid #747474;
    margin: 1vh;
}

.password_id_pwd select{
    display: block;
    width: 25vh;
    height: 4vh;
    border-radius: 1vh;
    border: 1px solid #747474;
    margin: 1vh;
}

.password_button{
    background-color: #FA4032;
    color: white;
    padding: 10px 20px;
    width: 15vh;
    height: 6vh;
    border: none;
    border-radius: 10px;
    margin: 1vh;
    cursor: pointer;
    text-align: center;
    
    float: right;
    margin-left: auto;
}

.password_button a{
    text-decoration: none;
    font-size: 3vh;
    color: white;
}

.password_button:hover {
    background-color: #cd3429; /* 버튼 호버 시 배경색 */
}