/* 공통 스타일 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poor Story", system-ui;
    font-weight: 400;
    font-style: normal;
}

p {
    display: inline-block;
    /*margin-bottom: 1vh;*/
}

span {
    /*padding-bottom: 1vh;*/
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

/* 링크 스타일 */
a {
    text-decoration: none;
    color: black;
    font-family: "Poor Story";
    font-size: 1.6vh;
}

/* 버튼 스타일 */
button {
    box-shadow: none;
    border: none;
    outline: none;
    background: #ddd;
}

/* 헤더 스타일 */

/* 바디 섹션 스타일 */

.body-section {
    width: 100%;
    min-height: 67.5vh;
    position: relative;
    background-color: #fff3e0;
    display: flex;
    justify-content: center;
}


.body-section2 {
    width: 100%;
    min-height:76vh;
    position: relative;
    background-color: #fff3e0;
    display: flex;
    justify-content: center;
}

/* 라인 스타일 */
.line-yellow {
    width:80vh;
    height:1px;
    background-color: #FAB12F;
    margin:0.5vh;
}

.line-grey {
    width:80vh;
    height:1px;
    background-color: #747474;
    opacity: 30%;
    margin-top:1vh;
    transform: translate(3.5%, 3.5%);
}

.line-grey2 {
    width:80vh;
    height:1px;
    background-color: #747474;
    opacity: 30%;
    margin:1vh;
}

/* 네비게이션 스타일 */
.navi {
    width:19vh;
    height:20vh;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 2vh;
    position:absolute;
    left:10%;
    justify-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navi-storeinfo {
    width: 25vh;
    height: 60vh;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 2vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navi ul {
    padding-left: 2vh;
    text-align: left;
}

.navi-font {
    font-family: "Poor Story";
    font-size: 1.6vh;
    color: black;
}

/* 레드 버튼 스타일 */
.redbutton {
    width: 10vh;
    height: 4vh;
    background-color: #FA4032;
    border-radius: 1vh;
    margin: 1vh;
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.redbutton1 {
    background-color: #fa4032;
    border-radius: 1vh;
    width: 10vh;
    height: 3.5vh;
    color: white;
    font-size: 1.6vh;
    box-shadow: none;
    border: none;
    outline: none;
}

.redbutton2 {
    width: 2.5vh;
    height: 2.5vh;
    background-color: #FA4032;
    border-radius: 1vh;
    font-family: "Poor Story";
    font-size: 2vh;
    color: white;
    position: absolute;
    right: 5vh;
}

.redbutton3 {
    width: 8vh;
    height: 4vh;
    background-color: #FA4032;
    border-radius: 1vh;
    margin: 1vh;
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.redbutton4 {
    width: 6vh;
    height: 2vh;
    background-color: #FA4032;
    border-radius: 1vh;
    margin:1vh;
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1vh;
    color:white;
}

.redbutton-font {
    font-family: "Poor Story";
    font-size: 2vh;
    color: white;
}

/* 컨테이너 스타일 */
.container-section {
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 25.5%;
}

.container-section2 {
    width: 110vh;
    min-height: 27vh;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 2vh;
    margin-bottom: 5%;
    padding-left: 3.5vh;

}

.container {
    width: 88vh;
    min-height: 27vh;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 2vh;
    margin-bottom: 5%;
    padding-left: 3.5vh;
}

.container-title {
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: 1vh;
    display: flex;
    gap: 1vh;
}

.container-content {
    font-size:1.6vh;
    margin-left:3vh;
    margin-right:3vh;
}


.container-font1 {
    font-size: 2.4vh;
    color: black;
    align-content: center;
}

/* 테이블 스타일 */
.table-class {
    width: 80vh;
    border-collapse: collapse; /* 테두리 선 겹치게 */
}

.table-class th, .table-class td {
    border-bottom: 1px solid #ccc; /* 모든 셀에 선 추가 */
    padding: 0.5vh;
    text-align: center;
}

.table-class tr:last-child td {
    border-bottom: none; /* 마지막 행은 선 제거 */
}

.table-class2 {
    width: 80vh;
    border-collapse: collapse;
    /*font-family: "Poor Story";*/
    font-size: 1.6vh;
    color: black;
}

.table-class2 th, .table-class2 td {
    border-bottom: 1px solid #ccc;
    padding:0.5vh;
}

.table-class2 tr:last-child td {
    border-bottom: none;
    padding:0.5vh;
}

.container-textarea {
    margin-top:1vh;
    display: inline-block;
    font-size:1.6vh;

}

.admit-input {
    background-color: #d9d9d9;
    border: none;
    border-radius: 1vh;
    padding: 0.5vh;
    /*margin-bottom: 0.5vh;*/
    resize: none;
}


/* 식당 관련 스타일 */
.store-info {
    margin-right: 15vh;
    position: relative;
}

.store-imgs {
    width: 85vh;
    height: 28vh;
    border-radius: 2vh;
    background-color: white;
    margin: auto;
}

.store-container {
    width: 88vh;
    min-height: 27vh;
    border-radius: 2vh;
    background-color: white;
    border: 1px solid #ccc;
    margin: auto;
    padding: 2.5vh;
    display: flex;
    flex-direction: column;
}

.store-container2 {
    width: 88vh;
    min-height: 57vh;
    border-radius: 2vh;
    background-color: white;
    border: 1px solid #ccc;
    /*margin: auto;*/
    /*padding: 1.5vh;*/
    display: flex;
    flex-direction: column;

    align-items: center;
    /*margin-left:1vh;*/
    /*margin-right:1vh;*/
    margin-bottom: 5%;
    padding-right: 1vh;
    padding-left: 1vh;
}

.upper-container {
    display: flex;
    gap: 2vh;
    flex-wrap: wrap;
}

.store-inner-container1 {
    position: relative;
    width: 40vh;
}

.store-inner-container2 {
    position: relative;
    display: block;
    width: 40vh;
}

.store-inner-container3 {
    position: relative;
    width: 80vh;
    margin-top: 5vh;
}

/* 버튼 박스 */
.buttonbox {
    position: absolute;
    right: 3vh;
    align-content: center;
    align-items: center;
    justify-content: right;
}

.buttonbox2 {
    position: relative;
    top: 45.5vh;
    left: 28vh;
    justify-content: right;
}

.buttonbox3 {
    position: absolute;
    top: 53vh;
    left: 75vh;
    justify-content: right;
}

.buttonbox4 {
    position: absolute;
    right: 3vh;
    bottom: 10%;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}



.introducebox {
    position: relative;
    top: 2vh;
}

/* 맵 박스 */
.mapbox {
    position:relative;
}

/* 리뷰 관련 스타일 */
.reviewbox {
    position: relative;
    display: inline-block;
    margin-bottom: 2vh;
}

.reviewimgbox {
    position: relative;
    flex-direction: row;
}

.reviewimg {
    width: 10vh;
    height: 10vh;
}

.reviewreply {
    background-color: #d9d9d9;
    border-radius: 1vh;
    padding: 0.5vh;
}

/* 입력 필드 스타일 */
.store-input-small {
    height: 4vh;
    width: 10vh;
    background-color: #d9d9d9;
    border: none;
    border-radius: 1vh;
    padding: 0.5vh;
    margin-bottom: 0.5vh;
}

.store-input-small2 {
    height: 4vh;
    width: 6vh;
    background-color: #d9d9d9;
    border: none;
    border-radius: 1vh;
    padding: 0.5vh;
    margin-bottom: 0.5vh;
}

.store-input-middle {
    height: 4vh;
    width: 20vh;
    background-color: #d9d9d9;
    border: none;
    border-radius: 1vh;
    padding: 0.5vh;
    margin-bottom: 0.5vh;
}

.store-input-long {
    height: 4vh;
    width: 30vh;
    background-color: #d9d9d9;
    border: none;
    border-radius: 1vh;
    padding: 0.5vh;
    margin-bottom: 0.5vh;
}

.store-input-large {
    height: 14.5vh;
    width: 35vh;
    background-color: #d9d9d9;
    border: none;
    border-radius: 1vh;
    padding: 0.5vh;
    margin-bottom: 0.5vh;
    resize: none;
}

/* 푸터 스타일 */
footer {
    width: 100%;
    background: #f58031;
    color: #690305;;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container {
    width: 90%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-menu {
    list-style: none;
    display: flex;
    gap: 100px;
}

.footer-menu li a {
    text-decoration: none;
    color: #690305;
    font-size: 16px;
}

.footer-font {
    padding-left: 6.5vh;
    font-family: "Poor Story";
    font-size: 2.4vh;
    color: #690305;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-left: 50%;
}