* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poor Story", system-ui;
    font-weight: 400;
    font-style: normal;
}

html, body {
    height: 100%;
    background-color: #fff3e0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none; /* 밑줄 제거 */
    color: black; /* 글자색 변경 */
    font-size: 1.6vh;
}

button {
    box-shadow: none;
    border: none;
    outline: none;
    background: #ddd;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.body-section {
    width: 100%;
    flex: 1;
    background-color: #fff3e0;
    min-height: 67.5vh;
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}


.body-section2 {
    width: 100%;
    flex: 1;
    background-color: #fff3e0;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: flex-start;
    overflow: auto;
}

/* 메인 페이지 css */
.container-main {
    padding: 2vh;
    width: 110vh;
    height: 30vh;
    background: white;
    border-radius: 2vh;
    border: 1px solid #ccc;
    margin-bottom: 5vh;

}

.food-list {
    display: flex;
    justify-content: space-around;
    margin: 2vh;
}

.food-item {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 150px;
    height: 200px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 1vh;
    flex-direction: column;
}


.main-img {
    border-radius: 1vh;
    aspect-ratio: 1 / 1; /* 1:1 비율 유지 (정사각형) */
    width: min(100%, 800px); /* 최대 240px, 하지만 너무 크면 100% 제한 */
    height: min(100%, 800px); /* 최대 240px, 하지만 너무 크면 100% 제한 */
    object-fit: cover; /* 비율 유지하며 안에 맞춤 */
}

/* user 레스토랑 리스트 페이지 */
.navi {
    width: 19vh;
    height: 23vh;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 2vh;
    position: fixed;
    left: 10%;
    justify-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.restaurant-list {
    display: block;
    gap: 15px;
    position: absolute;
    left: 30%;
    padding-bottom: 5vh;

}

.restaurant-card {
    width: 85vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh;
    border-radius: 2vh;
    margin-bottom: 2vh;
    border: 1px solid #ccc;
}

.restaurant-info {
    width: 50%;
    text-align: left;
}

.restaurant-info h3 {
    font-size: 20px;
    color: #fa4032;
}

.restaurant-info p {
    margin: 5px 0;
}

.restaurant-images {
    display: flex;
    gap: 10px;
}

.restaurant-images img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

.restaurant-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.restaurant-icons a {
    text-decoration: none;
}

.restaurant-icons img {
    width: 20px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.restaurant-icons img:hover {
    transform: scale(1.1);
}

/* 유저 사이드바 */

.sidebar {
    width: 19vh;
    height: 27vh;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 2vh;
    position: absolute;
    left: 10%;
    justify-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.sidebar h3 {
    background: #fa4032;
    color: white;
    padding: 10px;
    border-radius: 1vh;
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}


.container {
    padding: 2vh;
    width: 70%;
    min-height: 27vh;
    background: white;
    border-radius: 2vh;
    border: 1px solid #ccc;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    text-align: center;
}

.container-title {
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 1vh;
    display: flex;
    gap: 2vh;
}

.container-content {
    font-size: 2vh;
    margin: 1vh;
}

.line-yellow {
    width: 80vh;
    height: 1px;
    background-color: #FAB12F;
    margin: 0.5vh;
    /* margin-bottom:1vh; */
}

.line-yellow-100 {
    width: 100vh;
    height: 1px;
    background-color: #FAB12F;
    margin: 0.5vh;
    /* margin-bottom:1vh; */
}

.line-grey-100 {
    width: 100vh;
    height: 1px;
    background-color: #747474;
    opacity: 30%;
    margin-top: 1vh;
    transform: translate(3.5%, 3.5%);
}

.line-grey2-100 {
    width: 100vh;
    height: 1px;
    background-color: #747474;
    opacity: 30%;
    margin: 1vh;
}

.user-table-class {
    width: 100vh;
    border-collapse: collapse;
    font-size: 2vh;
    color: black;
}

.table-class2 {
    width: 100vh;
    border-collapse: collapse;
    font-size: 1.6vh;
    color: black;
}

.table-class2 th, .table-class2 td {
    border: 1px solid #ccc;
    padding: 0.5vh;
}

.table-class2 tr:last-child td {
    border-bottom: none;
    padding: 0.5vh;
}

.table-class3 {
    width: 80vh;
    border-collapse: collapse;
    text-align: center;
    font-size: 1.6vh;
    color: black;
}

.table-class3 th, .table-class3 td {
    border: 1px solid #ccc;
    padding: 1vh;
}

.table-class3 tr:last-child td {
    border-bottom: none;
    padding: 1vh;
}

.user-table-class2 {
    width: 80vh;
    border-collapse: collapse;
    font-size: 1.5vh;
    color: black;
}

.user-table-class2 th, .user-table-class2 td {
    border-bottom: 1px solid #ccc;
    padding: 3px;
}

/*.user-table-class2 tr:last-child td {*/
/*    !*border-bottom: none;*!*/
/*    !*padding:0.5vh;*!*/
/*}*/


.container-section {
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 25.5%;
}
.container-section2 {
    width: 110vh;
    min-height: 27vh;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 2vh;
    margin-bottom: 5%;
    padding-left: 3.5vh;
}


.container-font1 {
    font-size: 3vh;
    color: black;
    align-content: center;
}

.container-content {
    font-size: 1.6vh;
}


.redbutton-font {
    font-size: 2vh;
    color: white;
}

.buttonbox3 {
    position: absolute;
    top: 53vh;
    left: 150vh;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.buttonbox4 {
    position: absolute;
    right: 3vh;
    bottom: 10%;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.buttonbox5 {
    position: absolute;
    top: 50vh;
    left: 130vh;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.redbutton3 {
    width: 8vh;
    height: 4vh;
    background-color: #FA4032;
    border-radius: 1vh;
    margin: 1vh;
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.redbutton4 {
    width: 6vh;
    height: 2vh;
    background-color: #FA4032;
    border-radius: 1vh;
    margin: 1vh;
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1vh;
    color: white;
}

.container-boardlist {
    width: 88vh;
    height: 52vh;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 2vh;
    margin-bottom: 5%;
    padding-left: 2.5vh;
}

.container-bookmarklist {
    width: 88vh;
    height: 52vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 2vh;
    margin-bottom: 5%;
}

.container-textarea {
    margin-top: 1vh;
    display: inline-block;
    font-size: 1.6vh;

}

.pagination {
    position: absolute;
    top: 72%;
    text-align: center;
}

.user-input {
    background-color: #d9d9d9;
    border: none;
    border-radius: 1vh;
    padding: 0.5vh;
    /*margin-bottom: 0.5vh;*/
    resize: none;
}
