<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>restaurant_list</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">
    <link href="/css/style_user.css" rel="stylesheet">
    <link href="/css/header_footer.css" rel="stylesheet">
    <script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=fd7786d297e2d4aaab4aa8b6bbb06b88&libraries=services"
            type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/myLocation.js}"></script>
<!--    <script th:src="@{/js/weather.js}"></script>-->
</head>

<body>
    <div th:replace="~{html/user_header :: userHeader}"></div>
    <div class="body-section">
        <div class="container">
            <h2>🎮Choose your prefer food!🎮</h2>
        </div>
    </div>

<!--    <main>-->
<!--        <div class="minigame-container">-->
<!--            <div class="minigame">-->
<!--                <h2>Choose</h2>-->
<!--                <div class="mini-list">-->
<!--                    <div>-->
<!--                        <button>-->
<!--                            <img src="menu.png" alt="연관된음식명">-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    <p>vs</p>-->
<!--                    <div>-->
<!--                        <button>-->
<!--                            <img src="menu.png" alt="연관된음식명">-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </main>-->
    <div th:replace="~{html/user_footer :: userFooter}"></div>

</body>

</html>