<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>restaurant_list</title>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">
    <link href="/css/style_user.css" rel="stylesheet">
    <link href="/css/header_footer.css" rel="stylesheet">
    <link href="/css/minigame.css" rel="stylesheet">
    <script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=fd7786d297e2d4aaab4aa8b6bbb06b88&libraries=services"
            type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/myLocation.js}"></script>
</head>

<body>
<div th:replace="~{html/user_header :: userHeader}"></div>
<div class="body-section">
    <div class="container">
        <h2>🎮Choose your prefer food!🎮</h2>
        <h3 th:if="${announce != null && !announce.isEmpty()}" th:text="${announce}"></h3>
        <div class="minigame-imgs">
            <div class="minigame-imgbox" th:each="shownKeywords: ${currentKeywords[1]}">
                <form action="/minigame/select" class="minigame-imgs" method="post">
                    <button style="background: none; font-size:2vh; flex-direction: column" type="submit">
                        <img class="minigame-img" th:alt="${shownKeywords.getKeyword()}" th:src="${shownKeywords.getKeywordImgPath()}">
                        <input name="selected" th:value="${shownKeywords.getKeyword()}" type="hidden">
                        <input name="currentKeywords" th:value="${currentKeywords}" type="hidden">
                        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
                    </button>
                </form>
                <span style="position:relative; font-size:2vh;" th:text="${shownKeywords.getKeyword()}"></span>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{html/user_footer :: userFooter}"></div>

</body>

</html>