<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>review_list</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/header_footer.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/review.css">
    <link rel="stylesheet" href="/css/style_user.css">

</head>

<body>
<!-- user header 아래 복사 -->
<div th:replace="~{html/user_header :: userHeader}"></div>

<!-- main -->
<div class="main-container">
    <!-- 사이드바 -->
    <aside class="sidebar">
        <h3>마이페이지</h3>
        <ul>
            <li><a href="#">내 정보</a></li>
            <li><a href="#">예약 목록</a></li>
            <li><a th:href="@{/user/review/write/}">이용 목록</a></li>
            <li><a href="#">북마크 목록</a></li>
            <li><a th:href="@{/user/review/}">작성 리뷰 목록</a></li>
        </ul>
    </aside>

    <!-- 작성 리뷰 목록 -->
    <section class="content">
        <h2>이용 목록</h2>
        <script th:inline="javascript">
            // Thymeleaf로 데이터를 주입하여 JS에서 사용할 수 있도록 처리
            let testReview = /*[[${testReview}]]*/ [];
            console.log("로드된 리뷰 데이터:", testReview); // 로그로 데이터 확인
        </script>
        <script src="/js/reviewWrite.js" defer></script> <!-- JavaScript 파일 로드 -->

        <table>
            <thead>
            <tr>
                <th>번호</th>
                <th>예약 날짜</th>
                <th>식당</th>
                <th>상태</th>
                <th>레시피</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reservation, stat : ${reservation}">
                <td th:text="${stat.count}"></td>
                <td th:text="${reservation.reservationDate}"></td>
                <td th:text="${reservation.restaurantName}"></td>
                <td>
                    <button type="button" class="edit-btn" th:onclick="'openWriteModal(' + ${reservation.userCode} + ',' + ${reservation.restaurantCode} + ',' + ${reservation.reservationCode} + ')'">리뷰 작성</button>
                </td>
                <td>
                    <a th:href="${reservation.recipe}" target="_blank">
                        <button type="button" class="delete-btn">레시피 보기</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <!-- 모달 -->
        <div id="reviewWriteModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeWriteModal()">&times;</span>
                <h3>리뷰 작성</h3>
                <div id="test"></div>
                <form action="/user/review/save" class="reviewForm" method="post" enctype="multipart/form-data" id="myform">
                    <input type="hidden" name="userCode" id="writeUserCode">
                    <input type="hidden" name="restaurantCode" id="writeRestaurantCode">
                    <input type="hidden" name="reservationCode" id="writeReservationCode">

                    <div class="imageContainer" id="writeImagePreview">
                            <div class="image-preview">
                                <img class="preview-img" />
                            </div>
                    </div>


                    <fieldset id="star-rating">
                        <input type="radio" name="rating" value="5" id="rate1">
                        <label for="rate1">★</label>
                        <input type="radio" name="rating" value="4" id="rate2">
                        <label for="rate2">★</label>
                        <input type="radio" name="rating" value="3" id="rate3">
                        <label for="rate3">★</label>
                        <input type="radio" name="rating" value="2" id="rate4">
                        <label for="rate4">★</label>
                        <input type="radio" name="rating" value="1" id="rate5">
                        <label for="rate5">★</label>
                    </fieldset>
                    <textarea id="reviewContent" name="reviewContent"></textarea>

                    <div>
                        <input type="file" name="multiFiles" class="fileInput" multiple accept="image/*" onchange="previewWriteImages(this)">
                    </div>

                    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
                    <button type="submit" class="edit-btn">저장</button>
                </form>
            </div>
        </div>

    </section>
</div>
<!-- user footer 아래 복사 -->
<div th:replace="~{html/user_footer :: userFooter}"></div>
</body>
</html>
