<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">


<header th:fragment="userHeader">
    <div class="user-header">
        <a href="/">
            <img class="logo" src="/img/logo.png">
        </a>

        <div class="search-container">
            <form action="/restaurant/search">
                <div class="search-word">
                    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
                    <input name="keyword" th:value="${session.lastKeyword}" placeholder="검색어를 입력하세요..." type="text">
                    <button class="search-btn" type="submit"><img src="/img/search-icon.png" style="width:3vh; height: 3vh;"></button>
                </div>
            </form>
            <div class="popular-searches">
                <span>인기검색어1</span>
                <span>인기검색어2</span>
                <span>인기검색어3</span>
                <span>인기검색어4</span>
                <span>인기검색어5</span>
                <form action="/restaurant/search" id="findByLoc">
                    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
                    <input name="keyword" type="hidden" value="">
                    <a class="nearby" href="#" onclick="myLocation()">가까운 곳 찾기</a>
                </form>
                <a class="game" th:href="@{/minigame}">
                    <img alt="게임패드" id="game" src="/img/gamepad-icon.png">
                </a>
            </div>
        </div>

        <!-- menu -->
        <div class="menu">
            <!-- 비로그인(게스트) 상태일 때만 표시 -->
            <div sec:authorize="isAnonymous()">
                <a th:href="@{/login}" class="login">로그인</a>
                <a th:href="@{/signup}" class="signup">회원가입</a>
            </div>

            <!-- 로그인(인증) 상태일 때만 표시 -->
            <div sec:authorize="isAuthenticated()">
                <!-- 현재 로그인한 사용자의 아이디(혹은 이름) 표시 -->
                <span th:text="${#authentication.name}"></span>님 환영합니다!
                <!-- 로그아웃 -->
                <form th:action="@{/logout}" method="post" style="display:inline;">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <button type="submit" class="logout">로그아웃</button>
                </form>
            </div>

            <!-- 삼줄 버튼 -->
            <button class="menu-btn">
                <img src="/img/menu-icon.png" alt="메뉴">
            </button>

            <!-- 토글될 메뉴 (예: 사이드바) -->
            <nav class="nav-menu">
                <ul>
                    <li><a th:href="@{/user/myinfo}">내 정보</a></li>
                    <li><a href="/page2">예약 목록</a></li>
                    <li><a href="/page3">이용 목록</a></li>
                    <li><a href="/page3">북마크 목록</a></li>
                    <li><a href="/page3">작성 리뷰 목록</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>