<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="/css/style_notice_list.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="header-container">
        <!-- logo -->
        <div class="logo">
            <img src="/img/logo.png" alt="맛.zip 로고">
        </div>

        <!-- search -->
        <div class="search-container">
            <div class="search-word">
                <input type="text" placeholder="검색어를 입력하세요...">
            </div>

            <div class="popular-searches">
                <span>인기검색어1</span>
                <span>인기검색어2</span>
                <span>인기검색어3</span>
                <span>인기검색어4</span>
                <span>인기검색어5</span>
                <a href="" class="nearby">가까운 곳 찾기</a>
                <a href="" class="game">
                    <img id="game" src="/js/gamepad-icon.png" alt="게임패드"></a>
            </div>

        </div>

        <!-- menu -->
        <div class="menu">
            <a href="" class="login">로그인</a>
            <a href="" class="signup">회원가입</a>
            <button class="menu-btn">
                <img src="/js/menu-icon.png" alt="마이페이지">
            </button>
        </div>
    </div>
</header>

<div class="notice-container">
    <h2>FAQ</h2>
    <div class="board-list">
        <div class="content-box">
            <table class="board-table">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성날짜</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="faq, i : ${faqList}">
                    <td th:text="${i.index + 1}">1</td>
                    <td>
                        <a th:href="@{/board/faq/{id}(id=${faq.id})}" th:text="${faq.title}">제목</a>
                    </td>
                    <td th:text="${#temporals.format(faq.createdAt, 'yyyy-MM-dd')}">2025-03-31</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
