<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>공지사항</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">
    <link href="/css/style_notice_detail.css" rel="stylesheet">
</head>
<body>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>notice_content_guest</title>
</head>
<body>
<!-- header -->
<header>
    <div th:insert="~{header_footer/admin_header :: header}"></div>
</header>
<!-- main -->
<main>
    <div class="content-container">
        <h2>공지사항</h2>
        <div class="board-list">
            <div class="container">
                <table class="board-table">
                    <tr>
                     <!--   <th scope="col" class="th-num">번호</th>
                        <td th:text="${notice.id}"></td> -->
                    </tr>
                    <tr>
                        <th scope="col" class="th-title">제목</th>
                        <td th:text="${notice.title}"></td>
                    </tr>
                    <tr>
                        <th scope="col" class="th-date">작성일</th>
                        <td th:text="${#temporals.format(notice.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
                    </tr>
                </table>
                <p th:text="${notice.content}"></p>
                <a href="/board/notice"><button class="btn-back">목록으로</button></a>
            </div>
        </div>
    </div>
</main>

<!-- footer -->
<footer>
    <div th:insert="~{header_footer/admin_footer :: footer}"></div>
</footer>

</body>
</body>
</html>