<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>공지사항</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">
    <link href="/css/style_notice_detail.css" rel="stylesheet">
</head>
<body>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>notice_content_guest</title>
</head>
<body>
<!-- header -->
<header>
    <div class="header-container">
        <!-- logo -->
        <div class="logo">
            <img src="/img/logo.png" alt="맛.zip 로고">
        </div>

        <!-- search -->
        <div class="search-container">
            <div class="search-word">
                <input type="text" placeholder="검색어를 입력하세요...">
            </div>

            <div class="popular-searches">
                <span>인기검색어1</span>
                <span>인기검색어2</span>
                <span>인기검색어3</span>
                <span>인기검색어4</span>
                <span>인기검색어5</span>
                <a href="" class="nearby">가까운 곳 찾기</a>
                <a href="" class="game">
                    <img id="game" src="gamepad-icon.png" alt="게임패드"></a>
            </div>

        </div>

        <!-- menu -->
        <div class="menu">
            <a href="" class="login">로그인</a>
            <a href="" class="signup">회원가입</a>
            <button class="menu-btn">
                <img src="menu-icon.png" alt="마이페이지">
            </button>
        </div>
    </div>
</header>

<!-- main -->
<main>
    <div class="content-container">
        <h2>공지사항</h2>
        <div class="board-list">
            <div class="container">
                <table class="board-table">
                    <tr>
                     <!--   <th scope="col" class="th-num">번호</th>
                        <td th:text="${notice.id}"></td> -->
                    </tr>
                    <tr>
                        <th scope="col" class="th-title">제목</th>
                        <td th:text="${notice.title}"></td>
                    </tr>
                    <tr>
                        <th scope="col" class="th-date">작성일</th>
                        <td th:text="${#temporals.format(notice.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
                    </tr>
                </table>
                <p th:text="${notice.content}"></p>
                <a href="/board/notice"><button class="btn-back">목록으로</button></a>
            </div>
        </div>
    </div>
</main>

<!-- footer -->
<footer>
    <p>Copyright 2025 맛zip All Right Reserved</p>
    <ul>
        <li><a href="">공지사항</a></li>
        <li><a href="">FAQ</a></li>
        <li><a href="">Q&A</a></li>
    </ul>
</footer>

</body>
</body>
</html>