<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> notice_content_admin</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">
    <!-- 스타일시트 <link href="#" rel="">   -->

</head>
<body>
<!-- header -->
<header>
    <div class="header-container">
        <!-- logo -->
        <div class="logo">
            <img src="logo.png" alt="맛.zip 로고">
        </div>

        <!-- search -->
        <div class="search-container">
            <div class="search-word">
                <input type="text" placeholder="검색어를 입력하세요...">
            </div>

            <div class="popular-searches">
                <span>인기검색어1</span>
                <span>인기검색어2</span>
                <span>인기검색어3</span>
                <span>인기검색어4</span>
                <span>인기검색어5</span>
                <a href="" class="nearby">가까운 곳 찾기</a>
                <a href="" class="game">
                    <img id="game" src="gamepad-icon.png" alt="게임패드"></a>
            </div>

        </div>

        <!-- menu -->
        <div class="menu">
            <a href="" class="login">로그인</a>
            <a href="" class="signup">회원가입</a>
            <button class="menu-btn">
                <img src="menu-icon.png" alt="마이페이지">
            </button>
        </div>
    </div>
</header>

<!-- main -->
<main class="main-section">
    <div class="side-container">
        <div class="side-header">관리자</div>
        <ul class="side-list">
            <li><a href="#">공지사항</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Q&A</a></li>
        </ul>
    </div>
    <div class="content-container">
        <h2>공지사항</h2>
        <div class="board-list">
            <div class="container">
                <table class="board-table">
                    <tr>
                        <th scope="col" class="th-num">1</th>
                        <th scope="col" class="th-title">회원가입 시 유의사항</th>
                        <th scope="col" class="th-date">2025. 03. 08</th>
                    </tr>
                </table>
                <p>맛zip은 회원님께 최적화된 서비스를 제공하기 위해 개인정보를 수집하고 있습니다.</p>
                <button class="btn-action">수정</button>
                <button class="btn-action">삭제</button>
                <button class="btn-back">뒤로가기</button>
            </div>
        </div>
    </div>
</main>

<!-- footer -->
<footer>
    <p>Copyright 2025 맛zip All Right Reserved</p>
    <ul>
        <li><a href="">공지사항</a></li>
        <li><a href="">FAQ</a></li>
        <li><a href="">Q&A</a></li>
    </ul>
</footer>

</body>
</html>